<div class="aiv">
  <div class="gx uh ase ckf ckp dit">
    <div class="abw acj acv">
      <div class="mb yn aaq abd csd">
        <div class="aro cjv">
          <h2 class="awe awm aww ayb">Profile</h2>
          <p class="ku awg awv axy">
            This information will be displayed publicly so be careful what you
            share.
          </p>
        </div>
        <form class="alt bbt bbz bcv cip cpa">
          <div class="aro ask cju">
            <div class="mb uc yn aap abd cfz">
              <div class="bzj">
                <label for="website" class="lu awg awk awv ayb">Website</label>
                <div class="lb">
                  <div class="lx aeb bbt bbz bcd bcl bhc bhd bhh cev">
                    <span class="lx xy zg ats axx cng">http://</span
                    ><input
                      id="website"
                      name="website"
                      type="text"
                      placeholder="www.example.com"
                      class="lu ut afh alr arw atk ayb bgg bnf cng cni"
                    />
                  </div>
                </div>
              </div>
              <div class="ex">
                <label for="about" class="lu awg awk awv ayb">About</label>
                <div class="lb">
                  <textarea
                    id="about"
                    name="about"
                    rows="3"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  ></textarea>
                </div>
                <p class="lf awg awv axy">
                  Write a few sentences about yourself.
                </p>
              </div>
              <div class="ex">
                <label for="photo" class="lu awg awk awv ayb">Photo</label>
                <div class="lb lx zg aam">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                    class="np rs axu"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  ><button
                    type="button"
                    class="aeb alt ark arw awg awm ayb bbt bbz bcd bcl bik"
                  >
                    Change
                  </button>
                </div>
              </div>
              <div class="ex">
                <label for="cover-photo" class="lu awg awk awv ayb"
                  >Cover photo</label
                >
                <div class="lb lx zl aea afg afw agi arq arx">
                  <div class="avr">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      aria-hidden="true"
                      class="gx np rs axu"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <div class="lh lx awg awv axy">
                      <label
                        for="file-upload"
                        class="ab xx aeb alt awm ayn bha bhc bhh bhk bli"
                        ><span>Upload a file</span
                        ><input
                          id="file-upload"
                          name="file-upload"
                          type="file"
                          class="t"
                      /></label>
                      <p class="atk">or drag and drop</p>
                    </div>
                    <p class="awi awu axy">PNG, JPG, GIF up to 10MB</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lx zg zk aap aft agh aro asi ckh">
            <button type="button" class="awg awm awv ayb">Cancel</button
            ><button
              type="submit"
              class="aeb ajw arl asb awg awm ban bbt biv bpb bpc bpe bpl"
            >
              Save
            </button>
          </div>
        </form>
      </div>
      <div class="mb yn aaq abd auu csd">
        <div class="aro cjv">
          <h2 class="awe awm aww ayb">Personal Information</h2>
          <p class="ku awg awv axy">
            Use a permanent address where you can receive mail.
          </p>
        </div>
        <form class="alt bbt bbz bcv cip cpa">
          <div class="aro ask cju">
            <div class="mb uc yn aap abd cfz">
              <div class="bzi">
                <label for="first-name" class="lu awg awk awv ayb"
                  >First name</label
                >
                <div class="lb">
                  <input
                    id="first-name"
                    name="first-name"
                    type="text"
                    autocomplete="given-name"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzi">
                <label for="last-name" class="lu awg awk awv ayb"
                  >Last name</label
                >
                <div class="lb">
                  <input
                    id="last-name"
                    name="last-name"
                    type="text"
                    autocomplete="family-name"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzj">
                <label for="email" class="lu awg awk awv ayb"
                  >Email address</label
                >
                <div class="lb">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzj">
                <label for="country" class="lu awg awk awv ayb">Country</label>
                <div class="lb">
                  <select
                    id="country"
                    name="country"
                    autocomplete="country-name"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bnh bni bnu cez cng cni"
                  >
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>
              <div class="ex">
                <label for="street-address" class="lu awg awk awv ayb"
                  >Street address</label
                >
                <div class="lb">
                  <input
                    id="street-address"
                    name="street-address"
                    type="text"
                    autocomplete="street-address"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzh bzo">
                <label for="city" class="lu awg awk awv ayb">City</label>
                <div class="lb">
                  <input
                    id="city"
                    name="city"
                    type="text"
                    autocomplete="address-level2"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzh">
                <label for="region" class="lu awg awk awv ayb"
                  >State / Province</label
                >
                <div class="lb">
                  <input
                    id="region"
                    name="region"
                    type="text"
                    autocomplete="address-level1"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
              <div class="bzh">
                <label for="postal-code" class="lu awg awk awv ayb"
                  >ZIP / Postal code</label
                >
                <div class="lb">
                  <input
                    id="postal-code"
                    name="postal-code"
                    type="text"
                    autocomplete="postal-code"
                    class="lu tu aeb afh arw ayb bbt bbz bcd bcl bgg bnh bni bnu cng cni"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="lx zg zk aap aft agh aro asi ckh">
            <button type="button" class="awg awm awv ayb">Cancel</button
            ><button
              type="submit"
              class="aeb ajw arl asb awg awm ban bbt biv bpb bpc bpe bpl"
            >
              Save
            </button>
          </div>
        </form>
      </div>
      <div class="mb yn aaq abd auu csd">
        <div class="aro cjv">
          <h2 class="awe awm aww ayb">Notifications</h2>
          <p class="ku awg awv axy">
            We'll always let you know about important changes, but you pick what
            else you want to hear about.
          </p>
        </div>
        <form class="alt bbt bbz bcv cip cpa">
          <div class="aro ask cju">
            <div class="uc abw">
              <fieldset>
                <legend class="awg awm awv ayb">By Email</legend>
                <div class="lk acf">
                  <div class="ab lx aam">
                    <div class="lx oi zg">
                      <input
                        id="comments"
                        name="comments"
                        type="checkbox"
                        class="oc se adw agc ayn bnu"
                      />
                    </div>
                    <div class="awg awv">
                      <label for="comments" class="awk ayb">Comments</label>
                      <p class="axx">
                        Get notified when someones posts a comment on a posting.
                      </p>
                    </div>
                  </div>
                  <div class="ab lx aam">
                    <div class="lx oi zg">
                      <input
                        id="candidates"
                        name="candidates"
                        type="checkbox"
                        class="oc se adw agc ayn bnu"
                      />
                    </div>
                    <div class="awg awv">
                      <label for="candidates" class="awk ayb">Candidates</label>
                      <p class="axx">
                        Get notified when a candidate applies for a job.
                      </p>
                    </div>
                  </div>
                  <div class="ab lx aam">
                    <div class="lx oi zg">
                      <input
                        id="offers"
                        name="offers"
                        type="checkbox"
                        class="oc se adw agc ayn bnu"
                      />
                    </div>
                    <div class="awg awv">
                      <label for="offers" class="awk ayb">Offers</label>
                      <p class="axx">
                        Get notified when a candidate accepts or rejects an
                        offer.
                      </p>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend class="awg awm awv ayb">Push Notifications</legend>
                <p class="ku awg awv axy">
                  These are delivered via SMS to your mobile phone.
                </p>
                <div class="lk acf">
                  <div class="lx zg aam">
                    <input
                      id="push-everything"
                      name="push-notifications"
                      type="radio"
                      class="oc se agc ayn bnu"
                    /><label for="push-everything" class="lu awg awk awv ayb"
                      >Everything</label
                    >
                  </div>
                  <div class="lx zg aam">
                    <input
                      id="push-email"
                      name="push-notifications"
                      type="radio"
                      class="oc se agc ayn bnu"
                    /><label for="push-email" class="lu awg awk awv ayb"
                      >Same as email</label
                    >
                  </div>
                  <div class="lx zg aam">
                    <input
                      id="push-nothing"
                      name="push-notifications"
                      type="radio"
                      class="oc se agc ayn bnu"
                    /><label for="push-nothing" class="lu awg awk awv ayb"
                      >No push notifications</label
                    >
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="lx zg zk aap aft agh aro asi ckh">
            <button type="button" class="awg awm awv ayb">Cancel</button
            ><button
              type="submit"
              class="aeb ajw arl asb awg awm ban bbt biv bpb bpc bpe bpl"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
