<section class="flex flex-col md:flex-row gap-4">
  <!-- <app-page-menu>
    <ng-content select="[menu]"></ng-content>
  </app-page-menu> -->
  <div class="w-full">
    <app-page-tab>
      <app-page-tab-content title="About">
        <h2
          class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Powering innovation & trust at 200,000+ companies worldwide
        </h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">
          Empower Developers, IT Ops, and business teams to collaborate at high
          velocity.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700"
        >
          Learn more
        </a>
        <h2
          class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Powering innovation & trust at 200,000+ companies worldwide
        </h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">
          Empower Developers, IT Ops, and business teams to collaborate at high
          velocity.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700"
        >
          Learn more
        </a>
        <h2
          class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Powering innovation & trust at 200,000+ companies worldwide
        </h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">
          Empower Developers, IT Ops, and business teams to collaborate at high
          velocity.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700"
        >
          Learn more
        </a>
      </app-page-tab-content>

      <!-- Aba 2 -->
      <app-page-tab-content title="Services">
        <h2
          class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          We invest in the world’s potential
        </h2>
        <ul class="space-y-4 text-gray-500 dark:text-gray-400">
          <li class="flex space-x-2 items-center">
            <span class="leading-tight">Dynamic reports and dashboards</span>
          </li>
          <li class="flex space-x-2 items-center">
            <span class="leading-tight">Templates for everyone</span>
          </li>
          <li class="flex space-x-2 items-center">
            <span class="leading-tight">Development workflow</span>
          </li>
          <li class="flex space-x-2 items-center">
            <span class="leading-tight">Limitless business automation</span>
          </li>
        </ul>
      </app-page-tab-content>

      <!-- Aba 3 -->
      <app-page-tab-content title="Facts">
        <dl
          class="grid grid-cols-2 gap-8 text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white"
        >
          <div class="flex flex-col">
            <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
            <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
          </div>
          <div class="flex flex-col">
            <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
            <dd class="text-gray-500 dark:text-gray-400">
              Public repositories
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
            <dd class="text-gray-500 dark:text-gray-400">
              Open source projects
            </dd>
          </div>
        </dl>
      </app-page-tab-content>
    </app-page-tab>
  </div>
</section>
