<section class="flex justify-center items-center md:mt-8">
  <div class="bg-white p-8 rounded-lg shadow-md text-center max-w-lg">
    <div class="flex justify-center mb-6">
      <svg
        fill="#000000"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
        width="80px"
        height="80px"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g>
              <path
                d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,462.452 c-113.837,0-206.452-92.614-206.452-206.452S142.163,49.548,256,49.548S462.452,142.163,462.452,256S369.837,462.452,256,462.452z "
              ></path>
            </g>
          </g>
          <g>
            <g>
              <rect
                x="140.387"
                y="231.226"
                width="231.226"
                height="49.548"
              ></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>

    <h1 class="text-xl font-bold text-gray-800 mb-6">Acesso não permitido</h1>

    <p class="text-sm text-gray-600 mb-10">
      Você não tem permissão para acessar esta página. Caso precise de acesso,
      entre em contato com o administrador.
    </p>

    <div class="flex flex-col md:flex-row justify-center gap-4">
      <button
        type="submit"
        class="w-full md:w-2/3 justify-center rounded-md bg-sky-600 text-white hover:bg-sky-500 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-3 py-1.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Voltar à Página Inicial
      </button>
      <button
        type="submit"
        class="flex w-full md:w-2/3 justify-center rounded-md text-gray-900 hover:text-sky-600 border border-gray-800 hover:border-sky-600 hover:bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      >
        Contatar Suporte
      </button>
    </div>
  </div>
</section>
