<div
  id="crud-modal"
  tabindex="-1"
  aria-hidden="true"
  class="overflow-y-auto overflow-x-hidden z-50 fixed inset-0 flex items-center justify-center w-full bg-black bg-opacity-50 md:inset-0 max-h-full"
>
  <div
    class="bg-white rounded-lg w-full max-w-4xl h-3/4 p-6 relative flex flex-col mx-4"
  >
    <!-- Cabeçalho fixo -->
    <div class="flex justify-between items-center border-b pb-3">
      <h3 class="text-xl font-semibold">Avaliação física</h3>
      <button (click)="close()" class="text-gray-500 hover:text-gray-700">
        &times;
      </button>
    </div>

    <!-- Corpo rolável -->
    <div class="mt-4 overflow-y-auto flex-grow">
      <form [formGroup]="form">
        <div class="flex flex-col mb-2">
          <p class="text-sm font-medium text-gray-900 truncate">
            Relação entre peso e altura
          </p>
          <p class="text-xs text-gray-500">
            Usado para identificar faixas de peso saudável.
          </p>
        </div>
        <div class="grid gap-4 md:gap-[12px] grid-cols-2 mb-4 md:w-[50%]">
          <div class="col-span-2 sm:col-span-1 md:max-w-[200px]">
            <label
              for="height"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Altura<span class="text-gray-400 text-xs">*</span></label
            >
            <div class="mt-1 md:max-w-[200px]">
              <input
                id="height"
                name="height"
                type="tel"
                autocomplete="off"
                formControlName="height"
                [mask]="'separator.2'"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-2 sm:col-span-1 md:max-w-[200px]">
            <label
              for="weight"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Peso<span class="text-gray-400 text-xs">*</span></label
            >
            <div class="mt-1 md:max-w-[200px]">
              <input
                id="weight"
                name="weight"
                type="tel"
                autocomplete="off"
                formControlName="weight"
                [mask]="'separator.2'"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
        </div>
        <div
          class="mt-2 mb-2"
          *ngIf="
            (form.get('height')?.invalid &&
              (form.get('height')?.dirty || form.get('height')?.touched)) ||
            (form.get('weight')?.invalid &&
              (form.get('weight')?.dirty || form.get('weight')?.touched))
          "
        >
          <app-alert
            type="basic"
            message="Altura e peso são informações obrigatórias"
          />
        </div>
        <p class="border-b border-gray-900/10 mb-3"></p>
        <div class="grid gap-4 grid-cols-2">
          <div class="col-span-2 sm:col-span-1">
            <div class="flex flex-col mb-2">
              <p class="text-sm font-medium text-gray-900 truncate">
                Dobras cutâneas
              </p>
              <p class="text-xs text-gray-500">
                Utilizada para estimar a composição corporal.
              </p>
            </div>
            <div class="grid gap-4 grid-cols-2 mt-2">
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="abdominal"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Abdominal</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="abdominal"
                    name="abdominal"
                    type="tel"
                    autocomplete="off"
                    formControlName="abdominal"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="peito"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Peito</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="peito"
                    name="peito"
                    type="tel"
                    autocomplete="off"
                    formControlName="peito"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="coxa"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Coxa</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="coxa"
                    name="coxa"
                    type="tel"
                    autocomplete="off"
                    formControlName="coxa"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="triceps"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Triceos</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="triceps"
                    name="triceps"
                    type="tel"
                    autocomplete="off"
                    formControlName="triceps"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="subescapular"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Subescapular</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="subescapular"
                    name="subescapular"
                    type="tel"
                    autocomplete="off"
                    formControlName="subescapular"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="suprailiaca"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Suprailiaca</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="suprailiaca"
                    name="suprailiaca"
                    type="tel"
                    autocomplete="off"
                    formControlName="suprailiaca"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="axilar_media"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Axilar média</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="axilar_media"
                    name="axilar_media"
                    type="tel"
                    autocomplete="off"
                    formControlName="axilar_media"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-span-2 sm:col-span-1">
            <div class="flex flex-col mb-2">
              <p class="text-sm font-medium text-gray-900 truncate">
                Medidas de circunferências
              </p>
              <p class="text-xs text-gray-500">
                Importantes indicadores de riscos à saúde
              </p>
            </div>
            <div class="grid gap-4 grid-cols-2 mt-2">
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="cintura"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Cintura</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="cintura"
                    name="cintura"
                    type="tel"
                    autocomplete="off"
                    formControlName="cintura"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="quadril"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Quadril</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="quadril"
                    name="quadril"
                    type="tel"
                    autocomplete="off"
                    formControlName="quadril"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="braco"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Braço</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="braco"
                    name="braco"
                    type="tel"
                    autocomplete="off"
                    formControlName="braco"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label
                  for="panturrilha"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Panturrilha</label
                >
                <div class="mt-1">
                  <input
                    appCapitalize
                    appPreventSpaces
                    id="panturrilha"
                    name="panturrilha"
                    type="tel"
                    autocomplete="off"
                    formControlName="panturrilha"
                    [mask]="'separator.2'"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Rodapé fixo -->
    <div class="flex justify-center mt-4 border-t pt-3">
      <button
        type="submit"
        (click)="save()"
        class="flex w-full md:max-w-48 justify-center rounded-md bg-sky-600 font-medium px-3 py-1.5 text-sm leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        Salvar
      </button>
    </div>
  </div>
</div>
