<app-header-record [list]="['Avaliação Física']" />
<div class="grid grid-cols-1 md:grid-cols-[270px_1fr] gap-4 pb-4">
  <app-record-page-menu (back)="onBack()" />
  <div class="shadow p-4 flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-1">
        <span
          class="bg-blue-100 text-sky-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-sky-900 dark:text-blue-300"
        >
          Avaliação:
          {{
            currentAssessment.date_assesssment
              ? (currentAssessment.date_assesssment
                | date : "dd/MM/yyyy" : "+1000")
              : "-"
          }}
        </span>
        <button
          [disabled]="!currentAssessment.id"
          type="button"
          (click)="editCurrent()"
          class="disabled:cursor-not-allowed disabled:text-gray-400 disabled:border-gray-400 disabled:hover:bg-gray-400 text-sky-600 border border-sky-600 hover:bg-sky-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-sky-500 font-medium rounded-lg text-sm p-1.5 text-center inline-flex items-center me-2 dark:border-sky-600 dark:text-sky-600 dark:hover:text-white dark:focus:ring-sky-500 dark:hover:bg-sky-500 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16px"
            viewBox="0 -960 960 960"
            width="16px"
            fill="#0284c7"
            class="group-hover:fill-white"
          >
            <path
              d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
            />
          </svg>
          <span class="sr-only">Icon description</span>
        </button>
      </div>

      <button
        type="button"
        (click)="showFormDialog()"
        class="md:max-w-48 justify-center rounded-md bg-sky-600 font-medium px-3 h-[36px] text-sm leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        Nova
      </button>
    </div>
    <p class="border-b border-gray-900/10"></p>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
      <div>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
      <div>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>
    <div *ngIf="imcRisks.length">
      <app-alert
        message="O IMC é uma medida utilizada para avaliar o risco de desenvolver doenças crônicas, embora apresente algumas limitações. Confira as recomendações de saúde e os possíveis riscos associados ao IMC calculado::"
        [list]="imcRisks"
        type="basic"
      />
    </div>
    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
    >
      <h2 id="accordion-flush-heading-1">
        <button
          type="button"
          (click)="showHistoryTable()"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-1"
          aria-expanded="true"
          aria-controls="accordion-flush-body-1"
        >
          <span>Histórico das avaliações</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-1"
        [class.hidden]="!showHistory"
        aria-labelledby="accordion-flush-heading-1"
        class="pt-2"
      >
        <dss-dynamic-table
          [action]="true"
          (actionButton)="handleSelect($event)"
          [fixedColumn]="fixedColumn"
          [data]="list"
          [columns]="columns"
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          (pageChange)="handlePageChange($event)"
        />
      </div>
    </div>
  </div>
</div>

<app-assessment-dialog
  *ngIf="hideFormDialog"
  (closeEvent)="hideFormDialog = false"
  [type]="patientType"
  (saveEvent)="save($event)"
  [assesment]="selectedAssessment"
/>
